@import "tailwindcss";

.base-white-text {
  @apply text-[#fbeee5];
}

.base-white-bg {
  @apply bg-[#fbeee5];
}

.base-green-text {
  @apply text-[#14463a]
}

.base-green-bg {
  @apply bg-[#14463a]
}

.container {
  @apply pl-12 pr-12 mx-auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fbeee5;
  overflow-x: hidden;
}
button {
  cursor: pointer;
}

@layer utilities {
  @keyframes marqueeHome {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-marqueeHome {
    animation: marqueeHome 60s linear infinite;
  }

  .animate-marquee-reverse {
    animation: marquee-reverse 60s linear infinite;
  }
}

li {
  cursor: pointer;
}

.title-font {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
